* {
  margin: 0;
  padding: 0;
}

.magicContainer {
  width: 100%;
  height: 100%;

  background: var(--magic-wall-off);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lampImage {
  width: 400px;
  height: 400px;
}

#wire-conector {
  height: 200px;
  width: 10px;
  background: var(--wire-off);

  display: flex;
  align-items: flex-end;
}

#wire-energy {
  width: 10px;
  height: 0%;
  background: var(--wire-on);
}

.combobox_dark {
  color: #fff;
  background-color: #000;
}

.combobox_light {
  color: #000;
  background-color: #fff;
}

button {
  width: 300px;
  height: 100px;
}

input {
  height: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

@media (min-width:1024px) {
  .lampImage  {
    height: 400px;
  }
}
